In [4]:
def my_function():
    print('******************************')
    print('Hola mundo desde uuna funcion ')
    print('******************************')

In [5]:
my_function()

******************************
Hola mundo desde uuna funcion
******************************

In [8]:
def saludar():
    print('Hola buenas')

saludar()

print('Me gusta saludar ', saludar())

Hola buenas
Hola buenas
Me gusta saludar  None

In [10]:
def saludar(nombre):
    print(f'Hola buenas {nombre}!')
    
saludar('Juan')

Hola buenas Juan!

In [12]:
def sumar(x,y):
    suma = x+y
    return suma

resultado = sumar(4,5)

print('La suma es: ', resultado)

La suma es:  9

In [16]:
def print_name(name):
    print(name + ' es el nombre')

print_name('Irvin')

print_name('Eduardo')

Irvin es el nombre
Eduardo es el nombre

In [17]:
def my_function(nombre1,nombre2):
    print(nombre1 + ' ' + nombre2)

my_function('Irvin', 'Eduardo')

Irvin Eduardo

In [18]:
def saluda(nombre):
    print(f'Hola buenas dias {nombre}!!')

#nombre es parametro
#Irvin es un argumento
    
saluda('Irvin')

Hola buenas dias Irvin!!

In [19]:
def area_rectangulo(base,altura):
    return base * altura
area = area_rectangulo(4,5)

print('El area del rectangulo es: ', area)

El area del rectangulo es:  20

In [20]:
def imprimirlista(lista):
    for it in lista:
        print(it)
        
lst = [1, 2, 'Hola']

imprimirlista(lst)

1
2
Hola

In [22]:
def es_par(numero):
    if numero % 2 == 0:
        return True
    else:
        return False
    
num = 5

if es_par(num):
    print('Es numero par')
else:
    print('El numero es impar')

El numero es impar

In [25]:
def listapares(n):
    lstpares = []
    for it in range (n+1):
        if it % 2 == 0:
            lstpares.append(it)
    return lstpares

listapares(20)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [28]:
def my_function(*nombre):
    print('El nombre es '+ nombre[0])
    
my_function('Irvin', 'Eduardo')

El nombre es Irvin

In [4]:
def imprimir_argumentos(*args):
    for arg in args:
        print(arg)

imprimir_argumentos(1,2,3, 'Hola', ['a', 'b'])

1
2
3
Hola
['a', 'b']

In [26]:
def promedio_notas(*notas):
    totalNotas =0
    for nota in notas:
        totalNotas +=nota
    promedio = totalNotas/len(notas)
    return promedio

notas = [6, 7, 8, 9, 10, 6, 8]

promedioFinal = promedio_notas(*notas)

print(round(promedioFinal,1))

7.7

In [27]:
def concatenar(*args):
    resultado = " ".join(args)
    return resultado

frutas = 'guineo', 'manzana', 'papaya', 'cereza'

mixFrutas = concatenar(*frutas)
print('Mix de frutas: ', mixFrutas)

Mix de frutas:  guineo manzana papaya cereza

In [31]:
def media_aritmetica(*args):
    total = sum(args)
    cantidad = len(args)
    media = total/cantidad
    return media

notas = [6,7,8,9,10,8,9]

promedioFinal = media_aritmetica(*notas)

print('El promedio es: ', round(promedioFinal,1))

El promedio es:  8.1

In [32]:
def productoria(*args):
    producto = 1
    for it in args:
        producto *= it
    return producto

numeros = [1, 3, 4, 5, 6, 7]

totalMultiplicacion = productoria(*numeros)

print('El total es: ', totalMultiplicacion)

El total es:  2520

In [37]:
def generar_informe(titulo, contenido, autor):
    informe = f'Titulo: {titulo}\nContenido: {contenido}\nAutor: {autor}'
    print(informe)

generar_informe(titulo="Informe mensual", contenido="Ventas y proyecciones", autor = 'yo')

Titulo: Informe mensual
Contenido: Ventas y proyecciones
Autor: yo

In [41]:
def my_function( **kid ):
    print('El ultimo nombre es' + kid['fname'])

my_function(fname = 'Juan',mname ='Maria', uname = 'Pablo')

El ultimo nombre esJuan

In [43]:
def suma_recursiva(n):
    if n == 1:
        return 1
    else:
        return n + suma_recursiva(n - 1)

In [44]:
n = 4

print(f'La suma es: {suma_recursiva (n)}')

La suma es: 10

In [46]:
x = lambda a, b, c : a + b + c

print(x(5, 6, 2))

13

In [47]:
id_empleados = [341,45, 435, 676, 345,345, 676, 764,242]

pares = filter(lambda x: x%2 == 0, id_empleados)

print(list(pares))

[676, 676, 764, 242]

In [48]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc (2)
mytripler = myfunc (3)

print(mydoubler(11))
print(mytripler(11))

22
33