In [5]:
flag = 0

while flag < 5:
    print(flag)
    flag = flag + 1

0
1
2
3
4

In [8]:
flag = 0

while flag <= 5:
    print(flag)
    flag += 1

0
1
2
3
4
5

In [9]:
flag = 0

while flag < 5:
    print(flag)
    flag +=1

else:
    print('el valor de flag es: ', flag)

0
1
2
3
4
el valor de flag es:  5

In [11]:
"Solucion donde adivine un numero dado por usuario"

flag = 4

estado = False

while not estado:
    numero = int(input('Digite el numero para adivinar: '))
    
    if numero == flag:
        print('ADIVINASTE')
        estado = True
    else:
        print('No adivinaste:(')

Digite el numero para adivinar: 4
ADIVINASTE

In [16]:
n = 10
i = 1
suma = 0

while i <= n:
    suma += i
    i += 1
    
print(f'La suma de los {n} numeros es: {suma}')

La suma de los 10 numeros es: 55

In [2]:
flag = 0

terminar = 15

while flag < 100:
    print(flag)
    flag += 1
    if flag == terminar:
        print('valor de break', flag)
        break
        
print('terminar')

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
valor de break 15
terminar

In [4]:
flag = 0

while flag < 6:
    flag += 1
    if flag ==4:
        continue
    print(flag)

1
2
3
5
6

In [8]:
frutas = {'papaya', 'sandia', 'melon', 'banana'}

for iterador in frutas:
    print(iterador)

melon
banana
sandia
papaya

In [9]:
for fruta in frutas:
    print(fruta)

melon
banana
sandia
papaya

In [10]:
for i in frutas:
    print(i)

melon
banana
sandia
papaya

In [11]:
cadena = 'Esta es una cadena de caracteres'

for it in cadena:
    print(it)

E
s
t
a

e
s

u
n
a

c
a
d
e
n
a

d
e

c
a
r
a
c
t
e
r
e
s

In [12]:
tupla = (1, 2, 3, 4, 5)

tupla [2]

for elemento in tupla:
    print(elemento)

1
2
3
4
5

In [13]:
vocales = ('a', 'e', 'i', 'o', 'u')

for vocal in vocales:
    print(vocal)

a
e
i
o
u

In [18]:
informacion = {'Nombre':' Irvin',
               'Apellido':'Gonzalez',
               'Edad':21,
               'Ciudad':'Soyapango'
              }

for viewinfo in informacion:
    print(viewinfo)
    
for clave, valor in informacion.items():
    print('\n', clave , ':', valor )

Nombre
Apellido
Edad
Ciudad

 Nombre :  Irvin

 Apellido : Gonzalez

 Edad : 21

 Ciudad : Soyapango

In [21]:
frutas = ['papaya', 'sandia', 'melon', 'banana']

for iterador in frutas:
    print(iterador)
    if iterador == 'sandia':
        break

papaya
sandia

In [25]:
frutas = ['papaya', 'sandia', 'melon', 'banana']

for iterador in frutas:
    if iterador == 'sandia':
        continue
    print(iterador)

papaya
melon
banana

In [26]:
for it in range(6):
    print(it)

0
1
2
3
4
5

In [27]:
for it in range(2, 8):
    print(it)

2
3
4
5
6
7

In [28]:
for it in range(4, 30, 5):
    print(it)

4
9
14
19
24
29

In [29]:
for it in range(30, 2 ,-5):
    print(it)

30
25
20
15
10
5

In [30]:
lista = list(range(11))
lista

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
lista = list(range(11, 100, 20))
lista

[11, 31, 51, 71, 91]

In [32]:
for it in range(6):
    print(it)
else:
    print('finaliza ciclo for')

0
1
2
3
4
5
finaliza ciclo for

In [36]:
numero = 4

for it in range(1,11):
    resultado = numero * it
    print(f'{numero}X{it} = {resultado}')

4X1 = 4
4X2 = 8
4X3 = 12
4X4 = 16
4X5 = 20
4X6 = 24
4X7 = 28
4X8 = 32
4X9 = 36
4X10 = 40